extends ../layout

block content
  h1 Registrar nuevo paciente

  form(action='/internaciones/internar', method='POST')


    
    button(type='submit') Registrar
    

  if error
    p(style='color: red;') #{error}

  if success
    p(style='color: green;') #{success}