doctype html 
html 
  head 
    title cosa 
  body 
    nav 
       a(href="/") inicio |
       a(href='/usuarios') Usuarios |
       a(href='/pacientes') Pacientes |
       a(href='/pacientes/buscar') ingreso |

    block content 

    block scripts 