extends ../layout

block content
  h1 Registrar nuevo paciente

  form(action='/pacientes/nuevo', method='POST')
    label Nombre:
    input(type='text', name='nombre', required)
    br

    label DNI:
    input(type='text', name='DNI', required)
    br

    label Sexo:
    select(name='sexo', required)
      option(value='') Selecciona
      option(value='Masculino') Masculino
      option(value='Femenino') Femenino
    br

    label Fecha de nacimiento:
    input(type='date', name='fecha_nacimiento', required)
    br

    label Telefono: 
    input(type='text', name='telefono', required) 
    br

    label Email: 
    input(type='email', name='email', required) 
    br

    label dirreccion: 
    input(type='text', name='dirreccion', required) 
    br

    label Seguro:
    select(name='Seguro_id', required)
      option(value='') Selecciona un seguro
      each seguro in seguros
        option(value=seguro.id)= seguro.nombre
    br
    
    button(type='submit') Registrar
    
    

  if error
    p(style='color: red;') #{error}

  if success
    p(style='color: green;') #{success}